#!/usr/bin/make -f
# debian/rules file - for debian/keyring
# Based on sample debian/rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2003 James Troup
# Copyright 2009 Aron Xu <happyaron.xu@gmail.com>
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

install_dir=install -d -m 755
install_file=install -m 644
install_script=install -m 755
install_binary=install -m 755 -s

VERSION := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)

build:

clean:
	$(checkdir)
	-rm -f foo foo.asc *.bak *~ */*~ debian/files* debian/*substvars
	-rm -rf debian/tmp

binary-indep: checkroot
	$(checkdir)
	-rm -rf debian/tmp
	$(install_dir) debian/tmp/DEBIAN/
	$(install_script) debian/postinst debian/tmp/DEBIAN/
	$(install_script) debian/prerm debian/tmp/DEBIAN/
#	$(install_script) debian/config debian/tmp/DEBIAN/
#	$(install_file) debian/templates debian/tmp/DEBIAN/

	$(install_dir) debian/tmp/usr/share/keyrings/ubuntucn-repo/
	$(install_file) keyrings/*.gpg debian/tmp/usr/share/keyrings/ubuntucn-repo

	$(install_dir) debian/tmp/usr/share/keyrings/ubuntucn-repo/ppa/
	$(install_file) keyrings/ppa/*.gpg debian/tmp/usr/share/keyrings/ubuntucn-repo/ppa

	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/
	$(install_file) debian/origkey.list debian/tmp/usr/share/ubuntucn-repo/

	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/cn99
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/cn99/ubuntucn
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/cn99/medibuntu
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/cn99/ppa
	$(install_file) sources.list.d/cn99/ubuntucn/* debian/tmp/usr/share/ubuntucn-repo/sources/cn99/ubuntucn/
	$(install_file) sources.list.d/cn99/medibuntu/* debian/tmp/usr/share/ubuntucn-repo/sources/cn99/medibuntu/
	$(install_file) sources.list.d/cn99/ppa/* debian/tmp/usr/share/ubuntucn-repo/sources/cn99/ppa/
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/sohu
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/sohu/ubuntucn
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/sohu/medibuntu
	$(install_dir) debian/tmp/usr/share/ubuntucn-repo/sources/sohu/ppa
	$(install_file) sources.list.d/sohu/ubuntucn/* debian/tmp/usr/share/ubuntucn-repo/sources/sohu/ubuntucn/
	$(install_file) sources.list.d/sohu/medibuntu/* debian/tmp/usr/share/ubuntucn-repo/sources/sohu/medibuntu/
	$(install_file) sources.list.d/sohu/ppa/* debian/tmp/usr/share/ubuntucn-repo/sources/sohu/ppa/

	$(install_dir) debian/tmp/usr/share/doc/ubuntucn-repo/
	$(install_file) debian/changelog debian/tmp/usr/share/doc/ubuntucn-repo/
	$(install_file) debian/copyright debian/tmp/usr/share/doc/ubuntucn-repo/
	$(install_file) md5sum.asc debian/tmp/usr/share/doc/ubuntucn-repo/

	dpkg-gencontrol -pubuntucn-repo -isp
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

binary-arch:

define checkdir
	test -f keyrings/ubuntucn-keyring.gpg
	test -f keyrings/medibuntu-keyring.gpg
	test -d keyrings/ppa/
	test -d sources.list.d/
endef


# Below here is fairly generic really

binary:		binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
